<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuperViewInfo</key>
	<dict>
		<key>background</key>
		<string>background_color_6.png</string>
		<key>cover</key>
		<string>poster_6.png</string>
		<key>size</key>
		<string>{640, 1008}</string>
	</dict>
	<key>SubViewArray</key>
	<array>
		<dict>
			<key>defaultType</key>
			<integer>2</integer>
			<key>default</key>
			<string>BEIJING</string>
			<key>type</key>
			<integer>2</integer>
			<key>font</key>
			<string>HelveticalNeue LT 25 UltLight</string>
			<key>fontSize</key>
			<string>40</string>
			<key>origin</key>
			<string>{80,198}</string>
			<key>size</key>
			<string>{480,50}</string>
			<key>color</key>
			<string>210,96,98,1</string>
			<key>aligent</key>
			<string>1</string>
		</dict>
		<dict>
			<key>defaultType</key>
			<integer>1</integer>
			<key>default</key>
			<string> </string>
			<key>type</key>
			<integer>2</integer>
			<key>font</key>
			<string>HelveticalNeue LT 25 UltLight</string>
			<key>fontSize</key>
			<string>20</string>
			<key>origin</key>
			<string>{0,952}</string>
			<key>size</key>
			<string>{640,24}</string>
			<key>color</key>
			<string>210,96,98,1</string>
			<key>aligent</key>
			<string>1</string>
			<key>formart</key>
			<string>yyyy.MM.dd</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>origin</key>
			<string>{80,190}</string>
			<key>size</key>
			<string>{480,850}</string>
		</dict>
	</array>
</dict>
</plist>
